{% extends 'base.html.twig' %}

{% block title %}MicroPost{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center mb-2 mt-2">
        <a class="btn btn-primary" href="{{ path('micro_post_index') }}">back to list</a>
    </div>
    <div class="container w-25">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{ micro_post.user.name }}</h5>
                <p class="card-title">{{ micro_post.subject }}</p>
                <p class="card-text">
                    {{ micro_post.text }}
                </p>
            </div>
            <a class="btn btn-primary" href="{{ path('micro_post_edit', {'id': micro_post.id}, {'user': micro_post.user}) }}">edit</a>
        </div>
    </div>

    <style>
        .card-title , .card-text {
            font-family: 'Share Tech Mono', monospace;
        }

        .btn , .btn-primary {
            font-family: 'Share Tech Mono', monospace !important;
        }
    </style>


    {# {{ include('micro_post/_delete_form.html.twig') }} #}
    {# may be usefull later #}

{% endblock %}
