{% extends 'base.html.twig' %}

{% block title %}MicroPost{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center mb-2 mt-2">
        <a class="btn btn-primary" href="{{ path('micro_post_index') }}">back to list</a>
    </div>
    <div class="container w-25">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">{{ micro_post.user.name }}</h5>
                <p class="card-title">{{ micro_post.subject }}</p>
                <p class="card-text">
                    {{ micro_post.text }}
                </p>
            </div>
             {% if micro_post.user.id == app.user.id  %}
                     <a class="btn btn-primary" href="{{ path('micro_post_edit', {'id': micro_post.id}) }}">edit</a>
                    {{ include('micro_post/_delete_form.html.twig') }}
             {% endif %}
        </div>
    </div>

    <style>
        .btn , .btn-primary {
            font-family: 'Share Tech Mono', monospace !important;
        }
    </style>



    {# may be usefull later #}

{% endblock %}
