<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Roboto+Mono:ital@1&display=swap"
          rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ '/' }}">BlogSource</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ '/' }}">Home</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ '/micropost' }}">Posts</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="btn align-content-center btn-primary" href="{{ path('micro_post_new') }}">post
                                        iets nieuws</a>
                                </li>

                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary" href="{{ '/logout' }}">Logout </a>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary" href="{{ '/login' }}">Login</a>
                        </li>
                    {% endif %}
                </ul>

                {% if app.user %}
                    <form class="d-flex me-5">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                    <p style=" color:#f3911d;font-family: 'Comfortaa', cursive;" class="me-3 mt-3 username">
                        @{{ app.user.name }}
                    </p>
                {% else %}
                    <a class="btn btn-warning" href="{{ '/register' }}">Register</a> &nbsp;
                {% endif %}
                <style>
                    .username p {
                        font-family: 'Comfortaa', cursive !important;
                        font-size: 32px;
                        color: #f3911d !important;
                    }
                </style>
            </div>
        </div>
    </nav>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
